{
  "presets": [
    [
      "@babel/env",
      { "targets": { "node": "10.15" }, "useBuiltIns": "entry", "corejs": 3 }
    ],
    "@babel/flow"
  ],
  "plugins": ["@babel/proposal-object-rest-spread"]
}
